<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	       			http://www.springframework.org/schema/beans/spring-beans.xsd
			       	http://www.springframework.org/schema/tx
			       	http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- Spring与Mybatis整合，不需要Mybatis的配置映射文件 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:/spring/mybatis.xml" />
		<!-- 自动扫描mapper下*-mapper文件
		<property name="mapperLocations" value="classpath:/mapper/*-mapper.xml" /> -->
		<!-- <property name="typeAliasesPackage" value="com.shenma.dealer.account.param" />  -->
	</bean>
	
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory"/>
    </bean>

    <bean id="dataAccessor" class="org.example.xdiamond.util.DefaultDataAccessor">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>
    
	<!-- 事务管理 -->
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<tx:annotation-driven transaction-manager="txManager" />

</beans>